header .header_wrap {
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  border-top: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .header_wrap .header_box {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_wrap .header_box .header_logo {
  width: 75px;
  height: 75px;
}
header .header_wrap .header_box .header_logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/images/logo/logo.png) no-repeat;
}
header .header_wrap .header_box .header_menu .header_form {
  font-size: 13px;
  color: #555;
}
header .header_wrap .header_box .header_menu .header_form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .header_wrap .header_box .header_menu .header_form ul li {
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}
header .header_wrap .header_box .header_menu .header_form ul li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: 12px;
  background: #000;
}
header .header_wrap .header_box .header_menu .header_form ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
header .header_wrap .header_box .header_menu .header_form ul li:last-child::after {
  display: none;
}
header .header_wrap .header_box .header_menu .header_form ul li a {
  display: block;
}
header .header_wrap .header_box .header_menu .header_form ul li.search_btn a {
  background: #fff;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 6px 10px;
}
header .header_wrap .header_box .header_menu .header_form ul li.search_btn a img {
  display: inline-block;
}
header .header_wrap .header_box .header_menu .header_bar {
  margin-top: 20px;
  font-size: 13px;
  color: #333;
}
header .header_wrap .header_box .header_menu .header_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrap .header_box .header_menu .header_bar ul li {
  text-align: center;
}
header .header_wrap .header_box .header_menu .header_bar ul li:hover a {
  background: #2C2A29;
  color: #669900;
}
header .header_wrap .header_box .header_menu .header_bar ul li:hover .hover_menu {
  display: block;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(1) {
  width: 89px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(2) {
  width: 73px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(3) {
  width: 79px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(4) {
  width: 153px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(5) {
  width: 200px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(6) {
  width: 131px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(5) {
  width: 200px;
}
header .header_wrap .header_box .header_menu .header_bar ul li:nth-child(1) {
  width: 89px;
}
header .header_wrap .header_box .header_menu .header_bar ul li a {
  display: block;
  height: 56px;
  line-height: 20px;
  padding-top: 10px;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  background: #2C2A29;
  display: none;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu .hover_menu_box {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu .hover_menu_box .menu {
  display: block;
  width: 220px;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu .hover_menu_box .menu .tit {
  font-size: 14px;
  color: #fff;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu .hover_menu_box .menu li {
  font-size: 12px;
  width: auto;
  text-align: left;
}
header .header_wrap .header_box .header_menu .header_bar ul li .hover_menu .hover_menu_box .menu li a {
  color: #999;
  height: auto;
  line-height: normal;
}

.section01 {
  margin-top: 120px;
}
.section01 .sec_banner {
  background: url(../assets/images/bg/2022_christmas_main_bg.png) no-repeat;
  height: 646px;
  background-size: 100% 646px;
}
.section01 .sec_banner .product {
  position: relative;
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
}
.section01 .sec_banner .product .product_list {
  width: 100%;
  height: 100%;
}
.section01 .sec_banner .product .product_list li {
  position: absolute;
}
.section01 .sec_banner .product .product_list li.item01 {
  top: 22.1%;
  left: 31%;
  width: 22.4%;
  max-width: 250px;
  -webkit-animation: fadein 1s linear;
          animation: fadein 1s linear;
}
.section01 .sec_banner .product .product_list li.item02 {
  top: 36.9%;
  left: 45%;
  width: 26%;
  max-width: 294px;
  -webkit-animation: fadein 2s linear;
          animation: fadein 2s linear;
}
.section01 .sec_banner .product .product_list li.item03 {
  top: 15%;
  right: 16.8%;
  width: 24%;
  max-width: 257px;
  -webkit-animation: fadein 3s linear;
          animation: fadein 3s linear;
}
.section01 .sec_banner .product .product_list li.item04 {
  top: 15.7%;
  right: 0.4%;
  width: 23%;
  max-width: 259px;
  -webkit-animation: fadein 4s linear;
          animation: fadein 4s linear;
}
.section01 .sec_banner .product .product_list li.item05 {
  top: 28.8%;
  left: -8.1%;
  width: 290px;
}
.section01 .sec_banner .product .product_list li.detail_btn {
  position: absolute;
  top: 63.4%;
  left: -2%;
  width: 129px;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #fff;
  -webkit-animation: fadein 5s linear;
          animation: fadein 5s linear;
}
.section01 .sec_banner .product .product_list li.detail_btn a {
  color: #fff;
  display: block;
}
.section01 .sec_banner .product .product_list li.detail_btn a:hover {
  color: #000;
  background: #fff;
}

.section02 .slider_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section02 .slider_bar .slider_notice {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #000;
  height: 62px;
}
.section02 .slider_bar .slider_notice_tit {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.section02 .slider_bar .slider_notice .swiper-container .swiper-wrapper .swiper-slide {
  color: #fff;
}
.section02 .slider_bar .slider_acc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f6f5ef;
  width: 100%;
  height: 62px;
  line-height: 62px;
}
.section02 .slider_bar .slider_acc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section02 .slider_bar .slider_acc a .promotion_tit {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  padding-right: 20px;
}
.section02 .slider_bar .slider_acc a .promotion_more {
  width: 36px;
  height: 36px;
  background: url("../assets/images/icon/icon_more.png") no-repeat;
  background-size: 36px;
}
.section02 .slider_bar .promotion_box {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 660px;
  background-color: #000;
  display: none;
}
.section02 .slider_bar .promotion_box li img {
  display: block;
}
.section02 .slider_bar .promotion_box li a {
  display: block;
}

.section03 {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
}
.section03 .membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 23px;
  max-width: 1080px;
  margin: 0 auto;
}
.section03 .membership .logo {
  width: 176px;
  margin-left: 40px;
  margin-right: 40px;
}
.section03 .membership .logo img {
  width: 100%;
  display: block;
}
.section03 .membership .membership_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.section03 .membership .membership_box .membership_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4b615b;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.section03 .membership .membership_box .membership_txt.sub02 {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}
.section03 .membership .membership_box .membership_txt .membership_tit {
  font-size: 26px;
  color: #fff;
  margin-bottom: 12px;
}
.section03 .membership .membership_box .membership_txt .membership_tit span {
  font-weight: bold;
}
.section03 .membership .membership_box .membership_txt .membership_sub {
  font-size: 14px;
  color: #fff;
}
.section03 .membership .membership_box .membership_txt .membership_sub span {
  font-weight: bold;
}

.section04 .blend {
  width: 100%;
  height: 573px;
  background: url(../assets/images/bg/blend_bg.jpg) no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section04 .blend .blend_img img {
  display: inline-block;
}
.section04 .blend .blend_txt {
  display: block;
}
.section04 .blend .blend_txt img {
  display: block;
  margin-bottom: 40px;
}

.section05 .reserve {
  width: 100%;
  height: 400px;
  background: url(../assets/images/bg/reserve_bg.jpg) no-repeat center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section05 .reserve .reserve_box {
  max-width: 1080px;
  width: 100%;
}
.section05 .reserve .reserve_box .reserve_txt {
  display: block;
}
.section05 .reserve .reserve_box .reserve_txt img {
  display: block;
  margin-bottom: 40px;
}
.section05 .reserve .reserve_box .reserve_txt .more {
  display: block;
  width: 125px;
  height: 38px;
  color: #b9813d;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #b9813d;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 260px;
}
.section05 .reserve .reserve_box .reserve_txt .more:hover {
  color: #fff;
  background-color: #b9813d;
}

.section06 .season {
  background: url(../assets/images/bg/season_bg.png) no-repeat #45434c;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  -o-object-fit: fill;
     object-fit: fill;
  background-size: cover;
}
.section06 .season .season_txt {
  text-align: right;
  margin-right: 70px;
}
.section06 .season .season_txt .txt_img02 {
  margin: 50px 0;
}
.section06 .season .season_txt .more:hover {
  color: #000;
}
.section06 .season .season_goods img {
  display: inline-block;
}

.section07 {
  height: 400px;
}
.section07 .magazine {
  background: url(../assets/images/bg/magazine_bg.png) no-repeat 50% 100%;
  height: 100%;
}
.section07 .magazine .magazine_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.section07 .magazine .magazine_box .magazine_txt {
  margin-right: 50px;
}
.section07 .magazine .magazine_box .magazine_txt .more {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 100%;
  color: #000;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}
.section07 .magazine .magazine_box .magazine_txt .more:hover {
  background: #000;
  color: #fff;
}
.section07 .magazine .magazine_box .magazine_coffee {
  width: 348px;
}
.section07 .magazine .magazine_box img {
  display: inline-block;
}

.section08 .store {
  background: url(../assets/images/bg/store_bg.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}
.section08 .store .store_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section08 .store .store_box .store_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 670px;
          flex: 0 0 670px;
}
.section08 .store .store_box .store_img .store_sub01 {
  position: absolute;
  top: -60px;
  left: 520px;
  width: 343px;
  height: 142px;
  background: url(../assets/images/product/store_sub01.png) no-repeat;
}
.section08 .store .store_box .store_img .store_sub02 {
  position: absolute;
  top: 298px;
  right: 30px;
  width: 230px;
  height: 102px;
  background: url(../assets/images/product/store_sub02.png) no-repeat;
}
.section08 .store .store_box .store_img .store_sub03 {
  position: absolute;
  top: 149px;
  left: 390px;
  width: 228px;
  height: 228px;
  background: url(../assets/images/product/store_sub03.png) no-repeat;
}
.section08 .store .store_box .store_img .store_sub04 {
  position: absolute;
  top: 0;
  left: 160px;
  width: 366px;
  height: 312px;
  background: url(../assets/images/product/store_sub04.png) no-repeat;
}
.section08 .store .store_box .store_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}
.section08 .store .store_box .store_txt .store_font01 {
  width: 385px;
  height: 54px;
  background: url(../assets/images/product/store_txt01.png) no-repeat;
}
.section08 .store .store_box .store_txt .store_font02 {
  width: 366px;
  height: 61px;
  background: url(../assets/images/product/store_txt02.png) no-repeat;
  margin-top: 15px;
}
.section08 .store .store_box .store_txt .more {
  display: block;
  width: 125px;
  height: 100%;
  color: #000;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}
.section08 .store .store_box .store_txt .more:hover {
  background: #000;
  color: #fff;
}

.footer {
  background: #2C2A29;
  padding: 35px 0;
}
.footer .menu {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
.footer .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .menu ul li ul {
  display: block;
}
.footer .menu ul li ul li {
  width: 220px;
  margin-top: 10px;
}
.footer .menu ul li ul li:first-child {
  margin-top: 0;
}
.footer .menu ul li ul li.tit {
  margin-bottom: 20px;
  font-size: 14px;
}
.footer .menu ul li ul li a {
  color: #fff;
  font-size: 12px;
}
.footer .menu .footer_logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 142px;
  background: url(../assets/images/logo/footer_logo.png) no-repeat;
  background-size: 14px 142px;
}
.footer .clause {
  margin: 40px 0;
}
.footer .clause ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .clause ul li {
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
}
.footer .clause ul li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 10px;
  background: #393939;
}
.footer .clause ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.footer .clause ul li:first-child::after {
  display: none;
}
.footer .clause ul li a {
  color: #ccc;
  font-size: 12px;
}
.footer .clause ul li.important a {
  color: #00b050;
  font-weight: bold;
}
.footer .clause .information {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.footer .clause .information a {
  font-size: 12px;
}
.footer .clause .information a:hover {
  background: transparent;
  color: #fff;
}
.footer .clause .en {
  color: #999;
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}