// header
header {
  .header_wrap {
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .header_box {
      width: 1100px;
      height: 120px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header_logo {
        width: 75px;
        height: 75px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          background: url(../assets/images/logo/logo.png) no-repeat;
        }
      }
      .header_menu {
        margin-top: 10px;
        .header_form {
          font-size: 13px;
          color: #555;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 100px;
            margin-bottom: 10px;
            li {
              position: relative;
              padding-right: 15px;
              margin-right: 15px;
              &::after {
               content: '';
               position: absolute;
               top: 2px;
               right: 0;
               width: 1px;
               height: 12px;
               background: #e5e5e5; 
              }
              &:nth-child(4) {
                &::after {
                  display: none;
                }
                margin-right: 0;
              }
              &:last-child {
                &::after {
                  display: none;
                }
                padding-right: 0;
                margin-right: 0;
              }
              a {
                display: block;
              }
              &.search_btn {
                a {
                  // width: 34px;
                  // height: 34px;
                  background: #fff;
                  display: block;
                  border-radius: 5px;
                  text-align: center;
                  padding: 5px 6px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                  img {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
        .header_bar {
          font-size: 13px;
          color: #333;
          ul {
            display: flex;
            align-items: center;
            li {
              text-align: center;
              &:hover {
                a {
                  background: #2C2A29;
                  color: #669900;
                }
                .hover_menu {
                  display: block;
                }
              }
              &:nth-child(1) {
                width: 89px;
              }
              &:nth-child(2) {
                width: 73px;
              }
              &:nth-child(3) {
                width: 79px;
              }
              &:nth-child(4) {
                width: 153px;
              }
              &:nth-child(5) {
                width: 200px;
              }
              &:nth-child(6) {
                width: 131px;
              }
              
              &:nth-child(5) {
                width: 200px;
              }
              &:nth-child(1) {
                width: 89px;
              }
              a {
                display: block;
                height: 56px;
                line-height: 20px;
                padding-top: 10px;
              }
              .hover_menu {
                position: absolute;
                top: 120px;
                left: 0;
                width: 100%;
                background: #2C2A29;
                display: none;
                .hover_menu_box {
                  width: 1100px;
                  height: auto;
                  margin: 0 auto;
                  padding: 20px 0;
                  display: flex;
                  align-items: flex-start;
                  flex-wrap: wrap;
                  .menu {
                    display: block;
                    width: 220px;
                    .tit {
                      font-size: 14px;
                      color: #fff;
                    }
                    li {
                      font-size: 12px;
                      width: auto;
                      text-align: left;
                      a {
                        color: #999;
                        height: auto;
                        line-height: normal;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section01 {
  margin-top: 120px;
  .sec_banner {
    background: url(../assets/images/bg/2022_christmas_main_bg.png) no-repeat;
    height: 646px;
    background-size: 100% 646px;
    .product {
      position: relative;
      max-width: 1130px;
      height: 100%;
      margin: 0 auto;
      .product_list {
        width: 100%;
        height: 100%;
        li {
          position: absolute;
          &.item01 {
            top: 22.1%;
            left: 31%;
            width: 22.4%;
            max-width: 250px;
            animation: fadein 1s linear;
          }
          &.item02 {
            top: 36.9%;
            left: 45%;
            width: 26%;
            max-width: 294px;
            animation: fadein 2s linear;
          }
          &.item03 {
            top: 15%;
            right: 16.8%;
            width: 24%;
            max-width: 257px;
            animation: fadein 3s linear;
          }
          &.item04 {
            top: 15.7%;
            right: 0.4%;
            width: 23%;
            max-width: 259px;
            animation: fadein 4s linear;
          }
          &.item05 {
            top: 28.8%;
            left: -8.1%;
            width: 290px;
          }
          &.detail_btn {
            position: absolute;
            top: 63.4%;
            left: -2%;
            width: 129px;
            font-size: 15px;
            line-height: 34px;
            border-radius: 5px;
            text-align: center;
            margin: 0 auto;
            border: 2px solid #fff;
            animation: fadein 5s linear;
            a {
              color: #fff;
              display: block;
              &:hover {
                color: #000;
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.section02 {
  .slider_bar {
    position: relative;
    display: flex;
    align-items: center;
    .slider_notice {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      background: #000;
      height: 62px;
      &_tit {
        font-size: 16px;
        color: #fff;
        flex: 1;
        text-align: center;
      }
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            color: #fff;
          }
        }
      }
    }
    .slider_acc {
      flex: 1;
      background-color: #f6f5ef;
      width: 100%;
      height: 62px;
      line-height: 62px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        .promotion_tit {
          font-size: 16px;
          color: #666;
          font-weight: bold;
          padding-right: 20px;
        }
        .promotion_more {
          width: 36px;
          height: 36px;
          background: url('../assets/images/icon/icon_more.png') no-repeat;
          background-size: 36px;
        }
      }
    }
    // 프로모션 드롭박스 start
    .promotion_box {
      position: absolute;
      top: 62px;
      left: 0;
      width: 100%;
      height: 660px;
      background-color: #000;
      display: none;
      li {
        img {
          display: block;
        }
        a {
          display: block;
        }        
      }
    }
    // 프로모션 드롭박스 end
  }
}
.section03 {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
  .membership {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 23px;
    max-width: 1080px;
    margin: 0 auto;
    .logo {
      width: 176px;
      margin-left: 40px;
      margin-right: 40px;
      img {
        width: 100%;
        display: block;
      }
    }
    .membership_box {
      flex: 1;
      .membership_txt {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #4b615b;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &.sub02 {
          border-bottom: 0;
          margin: 0;
          padding: 0;
        }
        .membership_tit {
          font-size: 26px;
          color: #fff;
          margin-bottom: 12px;
          span {
            font-weight: bold;
          }
        }
        .membership_sub {
          font-size: 14px;
          color: #fff;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.section04 {
  .blend {
    width: 100%;
    height: 573px;
    background: url(../assets/images/bg/blend_bg.jpg) no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .blend_img {
      transform: translateX(-500%);
      transition: 3s;
      &.on {
        transform: translateX(0);
      }
      img {
        display: inline-block;
      }
    }
    .blend_txt {
      display: block;
      transform: translateX(500%);
      transition: 3s;
      &.on {
        transform: translateX(0);
      }
      img {
        display: block;
        margin-bottom: 40px;
      }
    }
  }
}
.section05 {
  .reserve {
    width: 100%;
    height: 400px;
    background: url(../assets/images/bg/reserve_bg.jpg) no-repeat center;
    background-size: cover;
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;

    .reserve_box {
      max-width: 1080px;
      width: 100%;
      .reserve_txt {
        display: block;
  
        img {
          display: block;
          margin-bottom: 40px;
        }
        .more {
          display: block;
          width: 125px;
          height: 38px;
          color: #b9813d;
          font-size: 15px;
          line-height: 34px;
          text-align: center;
          border: 2px solid #b9813d;
          border-radius: 5px;
          box-sizing: border-box;
          margin-left: 260px;
          &:hover {
            color: #fff;
            background-color: #b9813d;
          }
        }
      }
    }
  }
}
.section06 {
  .season {
    background: url(../assets/images/bg/season_bg.png) no-repeat #45434c;
    // background-size: auto 87%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    object-fit: fill;
    background-size: cover;
    .season_txt {
      text-align: right;
      margin-right: 70px;
      transform: translateX(-500%);
      transition: 3s;
      &.on {
        transform: translateX(0);
      }
      .txt_img01 {
      }
      .txt_img02 {
        margin: 50px 0;
      }
      .more {
        &:hover {
          color: #000;
        }
      }
    }
    .season_goods {
      img {
        display: inline-block;
      }
    }
  }
}
.section07 {
  height: 400px;
  .magazine {
    background: url(../assets/images/bg/magazine_bg.png) no-repeat 50% 100%;
    height: 100%;
    .magazine_box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .magazine_txt {
        margin-right: 50px;
        .more {
          display: block;
          margin: 0 auto;
          width: 125px;
          height: 100%;
          color: #000;
          font-size: 15px;
          line-height: 34px;
          text-align: center;
          border: 2px solid #000;
          border-radius: 5px;
          box-sizing: border-box;
          margin-top: 30px;
          // transition: background-color .7s, color .7s, border-color .7s;
          // -webkit-transition: background-color .7s, color .7s, border-color .7s;
          &:hover {
            background: #000;
            color: #fff;
          }
        }
      }
      .magazine_coffee {
        width: 348px;
      }
      img {
        display: inline-block;
      }
    }
  }
}
.section08 {
  .store {
    background: url(../assets/images/bg/store_bg.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    .store_box {
      display: flex;
      align-items: center;
      width: 1280px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      .store_img {
        flex: 0 0 670px;
        .store_sub01 {
          position: absolute;
          top: -60px;
          left: 520px;
          width: 343px;
          height: 142px;
          background: url(../assets/images/product/store_sub01.png) no-repeat;
        }
        .store_sub02 {
          position: absolute;
          top: 298px;
          right: 30px;
          width: 230px;
          height: 102px;
          background: url(../assets/images/product/store_sub02.png) no-repeat;
        }
        .store_sub03 {
          position: absolute;
          top: 149px;
          left: 390px;
          width: 228px;
          height: 228px;
          background: url(../assets/images/product/store_sub03.png) no-repeat;
        }
        .store_sub04 {
          position: absolute;
          top: 0;
          left: 160px;
          width: 366px;
          height: 312px;
          background: url(../assets/images/product/store_sub04.png) no-repeat;
        }
      }
      .store_txt {
        flex: 0 0 600px;
        transform: translateX(500%);
        transition: 1s;
        &.on {
          transform: translateX(0);
        }
        .store_font01 {
          width: 385px;
          height: 54px;
          background: url(../assets/images/product/store_txt01.png) no-repeat;
        }
        .store_font02 {
          width: 366px;
          height: 61px;
          background: url(../assets/images/product/store_txt02.png) no-repeat;
          margin-top: 15px;
        }
        .more {
          display: block;
          width: 125px;
          height: 100%;
          color: #000;
          font-size: 15px;
          line-height: 34px;
          text-align: center;
          border: 2px solid #000;
          border-radius: 5px;
          box-sizing: border-box;
          margin-top: 30px;

          // transition: background-color .7s, color .7s, border-color .7s;
          // -webkit-transition: background-color .7s, color .7s, border-color .7s;
          &:hover {
            background: #000;
            color: #fff;
          }
        }
      }
    }
  }
}

.footer {
  background: #2C2A29;
  padding: 35px 0;
  .menu {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
  
      li {
        ul {
          display: block;
          li {
            width: 220px;
            margin-top: 10px;
            &:first-child {
              margin-top: 0;
            }
            &.tit {
              margin-bottom: 20px;
              a {
                font-size: 14px;
              }
            }
            a {
              color: #fff;
              font-size: 12px;
            }
          }
        }
      }
    }
    .footer_logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 142px;
      background: url(../assets/images/logo/footer_logo.png) no-repeat;
      background-size: 14px 142px;
    }
  }
  .clause {
    margin: 40px 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        position: relative;
        padding-left: 10px;
        margin-left: 10px;
        &::after {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          width: 1px;
          height: 10px;
          background: #393939;
        }
        &:first-child {
          padding-left: 0;
          margin-left: 0;
          &::after {
            display: none;
          }
        }
        a {
          color: #ccc;
          font-size: 12px;
        }
        &.important {
          a {
            color: #00b050;
            font-weight: bold;
          }
        }
      }
    }
    .information {
      width: 100%;
      text-align: center;
      margin: 15px 0;
      a {
        font-size: 12px;
        &:hover {
          background: transparent;
          color: #fff;
        }
      }
    }
    .en {
      color: #999;
      font-size: 12px;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
  }
}